:root {
    --gray-color: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    font-family: Lato, sans-serif;
    line-height: 1.5em;

    color: white;
    text-align: center;
}

.big-text {
    font-size: 36px;
    font-weight: 600;
}

.medium-text {
    font-size: 20px;
}

.small-text {
    font-size: 16px;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;

    background-color: black;

}

section {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section header {
    max-width: 1140px;
    min-height: 100px;

    padding: 15px 15px;
    margin-bottom: 15px;
}

section main,
section footer {
    max-width: 800px;
}

section main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section>* {
    width: 100%;
}

/* 
_______MAIN______ 
*/

#main-video {
    width: 100%;
}

#main-video>* {
    max-width: 100%;
}

#questions {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

#questions select {
    color: white;
    background-color: black;
}

#secret-button {
    display: none;
    color: black;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250, 172, 17);
    border-radius: 7px;
    background: rgb(255, 212, 3) linear-gradient(rgb(255, 212, 3), rgb(248, 157, 23));
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
    transition: box-shadow .2s, border-color .2s;

    text-align: center;
}

#secret-button:hover {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, .5);
}

#secret-button:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177, 159, 0, 1);
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .1), inset 0 1px 2px rgba(0, 0, 0, .3), inset 0 0 0 60px rgba(255, 255, 0, .45);
}

/* 
_______MAIN______ 
*/

section footer {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px #dee2e6 solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 15px;
}

footer nav a {
    padding: 10px;
    text-decoration: none;
}

footer nav a:hover {
    color: var(--gray-color);
}

.footer-text-secondary {
    color: var(--gray-color);
}

@media screen and (max-width: 768px) {
    footer nav {
        flex-direction: column;
    }
}